<section class="asmrtist-by-id">
    <h2><%= asmrtist.name %></h2>
    <p><a href="<%= asmrtist.yt_channel %>"><%= asmrtist.yt_channel %></a></p>
    <h3>Associated Categories:</h3>
    <ul>
        <% categories.forEach(category => { %>
            <li><%= category.name %></li>
        <% }) %>
    </ul>
    <div class="asmrtist-manage-buttons">
        <span class="edit-asmrtist-button text-center">
            <a href="/asmrtists/<%= asmrtist.id %>/edit">Edit</a>
        </span>
        <span class="delete-asmrtist-button text-center">
            <a href="/asmrtists/<%= asmrtist.id %>/delete">Delete</a>
        </span>
    </div>
    
    

    
</section>