<section class="category-by-id">
    <h2><%= category.name %></h2>
    <div>
        <img src="<%= category.image %>" alt="<%= category.name %>">
    </div>
    <p><%= category.description %></p>
    <div class="edit-category-button text-center">
        <a href="categories/<%= category.id %>/edit">Edit</a>
    </div>

    
</section>