<form method="POST" action="/categories/<%= category.id %>/edit" class="edit-category-form">
    <h2 class="text-center"><%= title %></h2>
    
    <div>
        <label for="name">Category (required):</label>
        <input type="text" id="name" name="name" placeholder="Nature Sounds" value="<%= category.name %>" required>
    </div>
    
    <div>
        <div>
            <label for="description">Description:</label>
        </div>
        <div>
            <textarea type="text" id="description" name="description" placeholder="Natural ambient sounds such as leaves rustling, wind blowing, or birds chirping" rows="5" cols="50"><%= category.description %></textarea>
    
        </div>
    </div>
    
    <div>
        <label for="image">Image URL:</label>
        <input type="url" id="image" name="image" placeholder="https://example.com/image.jpg" style="width: 230px;" value="<%= category.image %>">
    </div>

    <div>
        <h5>Associated ASMRtists:</h5>
        <ul>
            <% allAsmrtists.forEach(asmrtist => { %>
                <li>
                    <label>
                        <input 
                            type="checkbox" 
                            name="selectedAsmrtists" 
                            value="<%= asmrtist.id %>"
                            <% if (associatedAsmrtists.some(a => a.id === asmrtist.id)) { %> checked <% } %> 
                        />
                        <%= asmrtist.name %>
                    </label>
                </li>
            <% }) %>
        </ul>

    </div>

    <% if (category.protected) { %>
        <h5>Note:</h5>
        <p>The category "<%= category.name %>" is protected by admin. If you are the admin, please enter the password below.</p>
        <label for="adminPasswordInput">Admin Password:</label>
        <input type="password" name="adminPasswordInput" required />
    <% } %>
    
    <div class="new-category-form-submit-button text-center">
        <button type="submit">Edit</button>
    </div>
</form>
